*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    min-height: 100vh;

    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;


    background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=1974&auto=format&fit=crop');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* background:
    linear-gradient(
        135deg,
        #0f172a,
        #1e3a8a,
        #7c3aed,
        #ec4899
    );

    background-size: 400% 400%;

    animation: gradientMove 10s ease infinite;
}


@keyframes gradientMove{

    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }*/
} 


h3{

    color: white;

    font-size: 40px;

    margin-bottom: 30px;

    letter-spacing: 2px;

    text-shadow:
    0 5px 15px rgba(0,0,0,0.4);
}


form{

    width: 400px;

    padding: 45px;

    border-radius: 28px;

    background: rgba(255,255,255,0.12);

    backdrop-filter: blur(16px);

    border: 1px solid rgba(255,255,255,0.15);

    box-shadow:
    0 10px 35px rgba(0,0,0,0.35);
}


label{

    color: white;

    font-size: 16px;

    font-weight: bold;
}


input{

    width: 100%;

    margin-top: 10px;

    padding: 15px;

    border: none;

    border-radius: 15px;

    background: rgba(255,255,255,0.18);

    color: white;

    font-size: 16px;

    outline: none;

    transition: 0.3s;
}


input::placeholder{

    color: rgba(255,255,255,0.7);
}


input:focus{

    background: rgba(255,255,255,0.24);

    box-shadow:
    0 0 15px rgba(255,255,255,0.25);
}


button{

    width: 100%;

    padding: 16px;

    border: none;

    border-radius: 16px;

    font-size: 18px;

    font-weight: bold;

    color: white;

    cursor: pointer;

    transition: 0.3s;

    background:
    linear-gradient(
        135deg,
        #f97316,
        #ef4444
    );

    box-shadow:
    0 8px 20px rgba(249,115,22,0.35);
}


button:hover{

    transform: translateY(-3px);

    background:
    linear-gradient(
        135deg,
        #fb923c,
        #f87171
    );

    box-shadow:
    0 12px 28px rgba(249,115,22,0.5);
}


button:active{

    transform: scale(0.98);
} 

@media(max-width:500px){

    form{

        width: 90%;

        padding: 30px;
    }

    h3{

        font-size: 32px;
    }
}